# on BlueWaters (cray)
# MPICC='cc -static'

# on COMA (CMU)
# MPICC=mpiicc LDSHARED="mpiicc -shared"

# on Fedora 19 with openmpi
# MPICC=mpicc LDSHARED="mpicc -shared"
#
# on Ubuntu with openmpi
# MPICC=mpicc LDSHARED="mpicc -shared"

# on Edison (gcc)
# MPICC='cc -static'

MPICC=mpicc

# install location
PREFIX=$(PWD)/usr

CC=$(MPICC)
CCDYNAMIC=$(MPICC) -dynamic
LDSHARED=$(MPICC) -shared

